@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
*{
    font-family: Caveat, sans-serif;
    box-sizing:border-box;
}
h1{
    font-size: 40px;
    color: rgb(172, 115, 42);
    letter-spacing: 40px;
    text-align: center;
}
.card-hover {
    transition: transform 0.3s, box-shadow 0.3s;
  }

  .card-hover:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  